$vue: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$textColorDarkPrimary: #141414;
$textColorDarkSecondary: #696969;
$textColorDarkCaption: #999999;
$textColorLightPrimary: #e5e5e5;


$backgroundColorPrimary: #181818;
$backgroundColorSecondary: #282828;
$backgroundColorMessage: #3291ff;
 
@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}